@model IEnumerable<SoftwareModel>
@using Hooli.Models

@{
    ViewBag.Title = "Home Page";
}
Home Page

<h2>About us</h2>
<p>
    Hooli is a Software provider that allows users to download and comment on software versions developed by the company.

</p>
<hr />

<!--<h2>Recent Releases</h2>-->
<!--pull newest 3 software products from DB-->
<h2>Recent Releases</h2>
<table>
    @foreach (SoftwareModel m in Model)
    {
        <tr>
            <td>Software: @m.softwareName</td>
            <td>Version: @m.version</td>
            <td>Date: @m.date_added</td>
        </tr>
    }
</table>

<hr />